<!DOCTYPE html>
<html lang="en" ng-app="hotime">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Font Awsome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Angluar -->
	<script src="https://code.angularjs.org/1.4.0/angular.min.js"></script>
</head>
<body ng-controller="Funcionario">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/index.html">
					<img src="../img/logo.png" height="50px" alt="Hotime">
				</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="valor-hora.html">Cadastrar horas</a></li>
					<li><a href="lancar-hora.html">Lançar Horas</a></li>
					<li><a href="funcionario.html">Funcionários</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form">
					<div class="form-group">
						<label for="">Cargo</label>
						<select name="cidade" required="required" ng-model="funcionario.cargo.id" class="form-control" ng-options="cargo.id as cargo.nome for cargo in cargos">
						</select>
					</div>
					<div class="form-group">
						<label for="">Nome</label>
						<input type="text" required="required" ng-model="funcionario.nome" name="nome" class="form-control">
					</div>
					<div class="form-group">
						<label for="">Senha</label>
						<input type="password" required="required" ng-model="funcionario.senha" name="senha" class="form-control">
					</div>
					<div class="form-group">
						<label for="">Telefone</label>
						<input type="text"  required="required" ng-model="funcionario.telefone" name="telefone" class="form-control">
					</div>
					<div class="form-group">
						<label for="">Email</label>
						<input type="text" required="required" ng-model="funcionario.email" name="email" class="form-control">
					</div>
					<div class="form-group">
						<button class="btn btn-primary" required="required" ng-click="salvar(funcionario)">Salvar</button>
					</div>
				</form>

				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Telefone</th>
						<th>Email</th>
						<th></th>
					</tr>
					<tr ng-repeat="funcionario in funcionarios | filter: busca track by funcionario.id">
						<td>{{::funcionario.id}}</td>
						<td>{{::funcionario.nome}}</td>
						<td>{{::funcionario.telefone}}</td>
						<td>{{::funcionario.email}}</td>
						<td><button ng-click="excluir(funcionario.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
					</tr>
				</table>
			</div>
		</div>
		<!-- Angluar -->
		<script src="/js/main.js"></script>
		<script src="/js/serviceCargo.js"></script>
		<script src="/js/serviceFuncionario.js"></script>
		<script src="/js/controllerFuncionario.js"></script>

	</div><!-- /.container -->
</body>
</html>